<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="./index.js" defer></script>
</head>
<body>
    <div id="app">
        <div id="container" v-cloak>
            <h1>Tic-Tac-Toe</h1>
            <p>Welcome to Tic-Tac-Toe!</p>
            
            <div class="option">
                <p>AI Difficulty</p>
                <select name="" id="">
                    <option value="two-player">Two Players</option>
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
            </div>
            
            <table>
                <tbody id="board">
                    <tr v-for="(row, rowIndex) in board" :key="rowIndex">
                        <td v-for="(cell, colIndex) in row" :key="colIndex" @click="makeMove(rowIndex, colIndex)">
                            <span :class="[cell == 'X' ? 'x' : (cell == 'O' ? 'o' : ''), winningCells.some(([r, c]) => r == rowIndex && c == colIndex) ? 'winningCell' : '']">{{ cell }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button id="action" @click="action">{{ actionMessage }}</button>
        </div>
    </div>
</body>
</html>